/* Services.module.css */
.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  margin: 50px 0;
  gap: 50px;
}

.H1 {
  color: #262626;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  margin: auto;
}

.Block1 {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding-left: calc((100vw - 1186px) / 2);
}

.Block2 {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding-right: calc((100vw - 1186px) / 2);
  margin: 50px 0;
}

.Block3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  padding-left: calc((100vw - 1186px) / 2);
  padding-right: calc((100vw - 1186px) / 2);
  margin-top: 75px;
}

@media only screen and (max-width: 1280px) {
  .Block1,
  .Block3 {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
  .Block2 {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0 20px;
  }
}

.Info {
  display: flex;
  flex-direction: column;
  line-height: normal;
  font-style: normal;
  gap: 30px;
}

.Info h2 {
  color: #262626;
  font-size: 30px;
  font-weight: 600;
}

.Info p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.Info ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SubBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 74px;
  border-radius: 100px;
  background: #bd7048;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.Btn:hover {
  background: #d87e4d;
}
