.price-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  background: #DB916B;
}
.plan-btn, .project-design-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 10px;
  padding : 25px 0;
  background: #DB916B;
}
.plan-btn:hover, .project-design-btn:hover{
  cursor:pointer;
}
.plan-btn.active, .project-design-btn.active{
  background: #BD7048;
}