/* TestLink.module.css */
.H1 {
  color: #fff;
  font-family: Montserrat Alternates;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 500px;
}

.Text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 500px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 70px;
  border-radius: 100px;
  background: #bd7048;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.Button:hover {
  background: #d87e4d;
}

.Wrapper {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 178px;
}

.img {
  background-image: url("../../../Assets/img-mainpage/main-7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 400px;
  margin: 100px 0;
}

@media only screen and (max-width: 767px) {
  .Wrapper {
    padding-left: 20px;
  }
  .Button {
    width: 50vw;
    height: 10vh;
  }
}
