/* Info.module.css */
.H1 {
  color: #262626;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 77px;
}

.H4 {
  color: #262626;
  font-size: 20px;
  font-weight: 500;
}

.Wrapper {
  display: flex;
  padding-left: calc((100vw - 1186px) / 2);
  max-width: 100vw;
  margin-top: 150px;
  gap: 42px;
}

.InfoBlock {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
  max-width: 500px;
}

.InfoBlocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  line-height: normal;
  gap: 30px;
  margin-bottom: 70px;
}

.P {
  color: rgba(38, 38, 38, 0.7);
  font-size: 15px;
  font-weight: 500;
}

.TextGroup {
  display: flex;
  flex-direction: column;
}

.Number {
  color: rgba(189, 112, 72, 0.2);
  font-size: 70px;
  font-weight: 700;
  max-width: 80px;
}

@media only screen and (max-width: 1280px) {
  .Wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }
}