.busket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.4s all;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}
.busket.active {
  opacity: 1;
  pointer-events: all;
}
.busket-wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  color: black;
  background: white;
  width: 50vw;
  max-height: 80%;
  border-radius:7px;
  overflow-y: auto;
  padding: 50px 45px 50px 90px;
}
.busket-content{
  display:flex;
  justify-content: space-around;
}
.closer {
  position: absolute;
  top: 5px;
  right: 5px;
}
.close {
  cursor: pointer;
}
.btn-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basket-request-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width:max-content;
  border-radius: 50px;
  background: #bd7048;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  width:20vw;
}
.basket-request-btn:hover {
  background: #a3552b;
}
.pay-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  background: #FFDDCB;
  color: #BD7048;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin: 20px 0;
  width:20vw;
}
.pay-btn:hover{
  background: #ffccb1;
}
.kaspi-pay-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  background: #F14635;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  width:20vw;
}
.kaspi-pay-btn:hover{
  background: #d23b2d;
}